body{
  background-color:#e1f4f5;
}
fieldset {
    margin: auto;
    margin-top: 100px;
    width: 50%;
}

table tr th {
    padding-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    width: 20%;
    background-color: white;
    text-align: center;      
  }
  th{
    color: grey;
  }
button{
    font-size: 20px;
    border-radius: 5px;
    
}